.advantages {
  background-color: $color-background-section;
  padding-top: 58px;
  padding-bottom: 59px;

  @include vp-1023 {
    padding-top: 72px;
    padding-bottom: 50px;
  }

  @include vp-767 {
    padding-top: 46px;
    padding-bottom: 36px;
    text-align: center;
  }
}

.advantages__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 80px;

  @include vp-1023 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.advantages__list {
  margin-top: 26px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 34.6%;
  position: relative;

  @include vp-1023 {
    column-gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    margin: 0;
  }
}

.advantages__item {
  position: relative;
  padding-top: 2px;
  display: flex;
  column-gap: 30px;

  @include vp-767 {
    display: grid;
    padding: 0 45px;
    margin-top: 20px;

    &:nth-child(4) {
      margin-top: 26px;
    }
  }

  &:not(:nth-child(3)) {
    padding-bottom: 52px;

    @include vp-1023 {
      padding-bottom: 26px;
    }
  }

  &:nth-child(1),
  &:nth-child(2n + 4) {
    padding-left: 20px;

    @include vp-1023 {
      padding-left: 0;
    }

    @include vp-767 {
      padding: 0 45px;
    }
  }

  &:nth-child(n + 4) {
    padding-top: 56px;

    @include vp-1023 {
      padding-top: 28px;
    }

    @include vp-767 {
      padding-top: 0;
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: rgba(209, 10, 66, 0.2);

      @include vp-1023 {
        display: none;
      }
    }
  }
}

.advantages__meaning {
  font-weight: 700;
  font-size: 71px;
  line-height: 150%;

  background-image: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
  -webkit-text-fill-color: transparent;
  background-clip: text;


  @include vp-1023 {
    font-size: 58px;
    background-image: linear-gradient(142.51deg, #d10a42 0%, #0041ca 87.33%);
  }
}

.advantages__measure {
  font-size: 14px;
  line-height: 150%;
  transform: translateY(-24px);
  color: #2e35ac;

  @include vp-1023 {
    transform: translateY(-18px);
  }

  @include vp-767 {
    transform: unset;
    margin-top: -18px;
  }
}

.advantages__text {
  padding-top: 20px;

  @include vp-1023 {
    padding-top: 14px;
  }

  @include vp-767 {
    padding-top: 6px;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;

  @include vp-1023 {
    font-size: 20px;
  }
}

.advantages__description {
  margin-top: 6px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;

  @include vp-1023 {
    margin-top: 2px;
  }

  &--center {
    margin-top: 12px;
    line-height: 150%;

    @include vp-1023 {
      margin-top: 0;
    }
  }
}

.advantages__item--center {
  margin-top: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 23.08%;
  height: 73.5%;
  background-color: #1c3374;
  color: $color-default-white;
  text-align: center;
  display: block;
  padding: 4px;
  padding-top: 34px;
  padding-bottom: 34px;

  @include vp-1023 {
    position: static;
    grid-column: 1/-1;
    left: unset;
    transform: unset;
    width: 65.2%;
    height: unset;
    margin: 0 auto;
    padding: 14px 80px 37px;
  }

  @include vp-767 {
    width: 100%;
    padding: 18px;
    margin-top: 18px;
    padding-bottom: 45px;
  }
}

.advantages__meaning-center {
  font-weight: 700;
  font-size: 74px;
  line-height: 150%;
}

.advantages__measure-center {
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  margin-top: -16px;

  @include vp-1023 {
    font-size: 22px;
    margin-top: -18px;
  }

  @include vp-767 {
    margin-top: -22px;
  }
}
