.contacts {
  h2 {
    margin: 0;
    text-align: left;
  }
}


.contacts__container {
  max-width: 468px;
  margin: 0 auto;
  transform: translateX(14%);

  @include vp-1199 {
    max-width: unset;
    margin: 0;
    transform: unset;
    padding: 62px 133px 25px;
  }

  @include vp-767 {
    padding: 64px 15px 26px;
  }
}

.contacts__list {
  position: relative;
  margin-top: 38px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include vp-1199 {
    grid-template-columns: 53% 47%;
    margin-top: 32px;
  }

  @include vp-767 {
    margin-top: 34px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }

  &::before {
    position: absolute;
    content: "";
    width: 1px;
    top: 4px;
    bottom: 24px;
    background-color: #74819c;
    left: 50%;

    @include vp-1199 {
      left: 53%;
      top: 8px;
      bottom: 29px;
    }

    @include vp-767 {
      display: none;
    }
  }
}

.contacts__item {
  padding-bottom: 20px;

  @include vp-767 {
    padding-bottom: 19px;
  }

  @include vp-1199 {
    &:nth-child(2n + 1) {
      padding-right: 4px;

      @include vp-767 {
        padding-right: unset;
      }
    }
  }

  &:nth-child(2n + 2) {
    padding-left: 24%;

    @include vp-1199 {
      padding-left: 48px;

      @include vp-767 {
        padding-left: unset;
        order: 1;
      }
    }
  }

  dt {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;

    @include vp-1199 {
      font-size: 20px;
    }
  }

  dd {
    margin: 0;
    margin-top: 2px;
    font-size: 14px;
    line-height: 21px;

    a {
      color: inherit;
      text-decoration: none;

      @include behavior;
    }

    @include vp-1199 {
      font-size: 18px;
      line-height: 152.34%;
      margin-top: 6px;
    }
  }
}
