.free-and-contacts {
  border-top: 1px solid $color-default-black;
  background-image: linear-gradient(to right, $color-default-black 0%, $color-default-black 50%, $color-default-white 50%);
  padding-top: 56px;
  padding-bottom: 27px;

  @include vp-1199 {
    background-image: unset;
    padding: 0;
    border: none;
  }
}

.free-and-contacts__container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
