.instructors {
  padding-top: 7px;
  padding-bottom: 140px;
  text-align: left;
  position: relative;

  @include vp-1199 {
    padding-top: 21px;
    padding-bottom: 100px;
  }

  @media (max-width: 1249px) {
    .swiper {
      max-width: 864px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (max-width: 953px) {
    .swiper {
      margin-left: auto;
      margin-right: auto;
      max-width: 566px;
    }
  }

  @include vp-767 {
    padding-top: 8px;
    padding-bottom: 70px;
  }
}

.instructors__container {
  position: relative;

  @include container;

  @include vp-767 {
    @include container(47px);
  }
}

.instructors h2 {
  text-align: left;
  margin-bottom: 48px;

  @media (max-width: 1249px) {
    max-width: 864px;
    margin-left: auto;
    margin-right: auto;
  }

  @include vp-1199 {
    text-align: center;
    margin-bottom: 31px;
  }

  @include vp-767 {
    margin-bottom: 42px;
  }
}

.instructors h3 {
  margin: 0;
  margin-bottom: 22px;
}

.instructors__description {
  display: none;
}

.instructors__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: $color-default-white;

  @media (max-width: 904px) {
    max-width: 864px;
  }

  & > li {
    position: relative;
  }
}

.instructors__slide-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: grid;
  align-content: end;
  overflow: auto;
  justify-content: center;
}

.instructors-list h3 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding: 9%;
}

// local mixin
@mixin show-text {
  align-content: start;
  z-index: 1;
  background-color: rgba(16, 38, 84, 0.89);
  outline: none;

  h3 {
    padding-top: 52px;
    padding-bottom: 0;
    text-align: center;
    margin: 0;

    @include vp-767 {
      padding-top: 44px;
    }
  }

  .instructors__description {
    display: grid;
    padding: 5%;
    padding-bottom: 5px;
    padding-top: 0;
    z-index: 2;

    h4 {
      text-align: center;
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      color: #b6bdcc;
    }
  }

  .instructors__advantages li {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      left: -16px;
      top: 5px;
      background-color: $color-default-white;
      border-radius: 50%;
    }
  }

  .instructors__description > ul {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
    padding-left: 24%;
    font-size: 14px;
    line-height: 20px;

    @include vp-767 {
      padding-left: 38px;
    }

    & > li {
      margin-top: 13px;
    }
  }
}

.instructors__slide-text:hover,
.instructors__slide-text:focus-visible {
  @include show-text;
}

.instructors__list > li:focus .instructors__slide-text {
  @include show-text;
}

.instructors__img img {
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  height: 294px;

  @include vp-767 {
    height: auto;
    min-height: 274px;
  }
}

.instructors__button-left,
.instructors__button-right {
  padding: 0;
  position: absolute;
  top: 0;
  height: 100%;
  min-width: 47px;
  width: calc((100vw - 1160px) / 2);
  border: none;
  background-color: transparent;
  z-index: 1;
  cursor: pointer;

  &:hover .instructors__button-icon {
    opacity: 0.6;
  }

  &:active .instructors__button-icon {
    opacity: 0.3;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible .instructors__button-icon {
    outline: 2px solid $color-default-black;
    outline-offset: 8px;
  }

  @media (max-width: 1249px) {
    width: calc((100vw - 864px) / 2);
  }

  @include vp-1199 {
    width: calc((100vw - 566px) / 2);
  }

  @include vp-767 {
    width: 47px;
  }
}

.instructors__button-left {
  right: 50%;
  margin-right: calc(50% - 20px);

  @media (max-width: 1249px) {
    margin-right: calc(864px / 2);
  }

  @media (max-width: 953px) {
    margin-right: 283px;
  }

  @include vp-767 {
    margin-right: calc(50% - 47px);
  }

  .instructors__button-icon {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: 1366px) {
      right: 40%;
    }

    @include vp-1199 {
      right: 10%;
    }

    @media (max-width: 953px) {
      right: 40%;
    }

    @include vp-767 {
      right: 46%;
      width: 10px;
      height: 19px;
    }
  }
}

.instructors__button-right {
  left: 50%;
  margin-left: calc(50% - 20px);

  @media (max-width: 1249px) {
    margin-left: calc(864px / 2);
  }

  @media (max-width: 953px) {
    margin-left: 283px;
  }

  @include vp-767 {
    margin-left: calc(50% - 47px);

    @media (max-width: 350px) {
      margin-left: calc(50% - 47px);
    }
  }

  .instructors__button-icon {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);

    @media (max-width: 1366px) {
      left: 40%;
    }

    @include vp-1199 {
      left: 10%;
    }

    @media (max-width: 953px) {
      left: 40%;
    }

    @include vp-767 {
      left: 46%;
      width: 10px;
      height: 19px;
    }
  }
}
