.preview {
  padding: 120px 0 235px;

  @include vp-1023 {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 44px;
    padding-bottom: 70px;

    .container {
      @include container(0);
    }
  }
}

.preview__grid {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 24px;

  @include vp-1023 {
    flex-direction: column;
    gap: 37px;
  }

  @include vp-767 {
    padding: 0 0;
    gap: 40px;
  }
}

.preview__text-section {
  max-width: 356px;
  margin-left: auto;
  margin-right: auto;

  @include vp-1023 {
    text-align: center;
    max-width: 510px;

    & p:nth-of-type(n+2) {
      @include visually-hidden;
    }
  }

  @include vp-767 {
    text-align: left;

    @include container;
  }

  h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    text-align: left;

    @include vp-1023 {
      font-size: 42px;
      line-height: 50px;
      text-align: center;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      text-align: left;
    }
  }
}

.preview__img {
  @include vp-1023 {
    img {
      width: 100%;
    }
  }

  @include vp-767 {
    margin-top: -14px;
  }
}

.preview__video-wrapper {
  width: 364px;
  height: 228px;
  position: absolute;
  left: 437px;
  bottom: -115px;
  background-color: $color-default-black;

  img {
    object-fit: cover;

    @include vp-1023 {
      width: 100%;
    }

    @include vp-767 {
      position: relative;
      width: 100%;
      height: auto;
    }
  }

  @include vp-1023 {
    margin-top: -121px;
    position: relative;
    left: unset;
    bottom: unset;
    transform: unset;
    width: calc(266 / 768 * 100vw);
    height: calc(167 / 768 * 100vw);
    margin-left: auto;
    margin-right: auto;
  }

  @include vp-767 {
    margin-top: unset;
    width: calc(100vw);
    height: calc(167 / 320 * 100vw);
  }

  picture {
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(20, 54, 122, 0.5);
      z-index: 1;
    }
  }

  & > a {
    width: 100px;
    height: 100px;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    background-image: url("../img/svg/preview-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    line-height: 0;

    @include behavior(8px, $color-default-red);

    @include vp-1023 {
      width: 74px;
      height: 74px;
    }
  }
}

.preview__youtube-iframe {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border: none;
}
