.subscriptions {
  padding-top: 82px;
  padding-bottom: 120px;
  text-align: center;
  background: $color-background-section;

  & .container {
    position: relative;
    z-index: 3;

    &::before {
      position: absolute;
      content: "";
      width: 321px;
      height: 384px;
      bottom: -215px;
      right: -109px;
      transform: rotate(150deg);
      background-image: image-set(
        url("../img/backgrounds/subscriptions/plates@2x.webp") 2x,
        url("../img/backgrounds/subscriptions/plates.webp") 1x,
        url("../img/backgrounds/subscriptions/plates@2x.jpg") 2x,
        url("../img/backgrounds/subscriptions/plates.jpg") 1x,
      );
      background-repeat: no-repeat;
      background-size: cover;

      @include vp-1023 {
        width: 289px;
        height: 345px;
        right: -9px;
        bottom: -175px;
      }

      @include vp-767 {
        display: none;
      }
    }
  }

  @include vp-1023 {
    padding-bottom: 100px;

    & .container {
      padding: 0 163px;
    }
  }

  @include vp-767 {
    padding-top: 46px;
    padding-bottom: 70px;

    & .container {
      @include container;
    }
  }
}

.subscriptions__section {
  display: grid;
}

.subscriptions__tab-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 46px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @include vp-1023 {
    margin-top: 8px;
    gap: 54px;
  }

  @include vp-767 {
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    margin-top: 6px;
  }
}

.subscriptions__tab-button {
  position: relative;
  padding: 10px 0;
  font-size: 20px;
  line-height: 150%;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @include behavior;

  &.is-active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #d10a42;
    left: 0;
    bottom: -2px;
  }

  @include vp-1023 {
    font-size: 18px;
    line-height: 150%;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 150%;
  }
}

.subscriptions__content {
  margin-top: 38px;

  @include vp-1023 {
    margin-top: 45px;
  }

  @include vp-767 {
    margin-top: 34px;
  }
}

.subscriptions__element {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 40px;
  width: 100%;

  @include vp-1023 {
    grid-template-columns: unset;
    justify-content: stretch;
  }

  @include vp-767 {
    gap: 35px;
  }
}

.subscriptions__element-item {
  display: grid;
  justify-content: center;
  padding: 58px 10px 60px;
  text-align: center;
  background-color: $color-default-white;
  border: 7px solid transparent;

  &:hover,
  &:focus-within {
    border-image: linear-gradient(148.82deg, #d10a42, #00359f) 1;
  }

  &:hover a,
  .button:focus-within {
    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
    border: none;
    color: $color-default-white;
  }

  @include vp-767 {
    padding: 44px 10px 48px;
  }

  h3 {
    margin: 0;
    font-weight: 700;
    font-size: 26px;
    line-height: 28px;

    @include vp-767 {
      font-size: 22px;
      line-height: 24px;
    }
  }

  p {
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
    font-size: 16px;
    line-height: 150%;
  }

  span {
    margin-top: 66px;
    font-weight: 700;
    font-size: 60px;
    line-height: 150%;
    color: #103aae;
    padding-right: 44px;
    position: relative;
    z-index: 1;

    @include vp-767 {
      justify-self: center;
      font-size: 48px;
      line-height: 150%;
      padding-right: 34px;
      margin-top: 52px;
    }

    &::before {
      content: attr(data-content);
      position: absolute;
      top: -54px;
      left: 0;
      color: #e8e8e8;
      z-index: -1;
      font-weight: 700;
      font-size: 100px;
      line-height: 150%;

      @include vp-767 {
        font-size: 80px;
        line-height: 150%;
        left: -16px;
        top: -44px;
        opacity: 0.48;
      }
    }

    &::after {
      position: absolute;
      content: "";
      width: 30px;
      height: 42px;
      bottom: 24px;
      right: 20px;
      background-image: url("../img/svg/rouble.svg");
      background-repeat: no-repeat;

      @include vp-767 {
        width: 24px;
        height: 33px;
        background-size: cover;
        right: 0;
        bottom: 18px;
      }
    }
  }

  a {
    margin-top: 34px;
    min-height: 64px;
    border-width: 2px;
    min-width: 206px;
    border-color: $color-default-black;
    cursor: pointer;

    @include vp-767 {
      margin-top: 32px;
    }
  }
}
