// локальный миксин для внутреннего содержимого текстовой секции с расписанием
@mixin max-w {
  max-width: 344px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include vp-1199 {
    max-width: 204px;
  }

  @include vp-767 {
    max-width: unset;
  }
}

.super-games {
  padding-top: 120px;
  padding-bottom: 60px;

  @include vp-1199 {
    padding-top: 100px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 36px;
  }
}

.super-games__grid {
  display: flex;

  @include vp-767 {
    flex-direction: column;
  }
}

.super-games__section {
  padding-top: 86px;
  padding-bottom: 20px;
  flex-basis: 500px;
  background: $color-default-red;
  color: $color-default-white;
  display: flex;
  flex-direction: column;

  & > a {
    @include button;
    @include max-w;

    margin-top: 30px;
    min-height: 70px;

    @include vp-1199 {
      margin-top: auto;
      min-height: 41px;
      border-width: 2px;
      font-size: 10px;
      line-height: 12px;
    }
  }

  @include vp-1199 {
    flex-basis: 292px;
    padding-top: 52px;
    flex-shrink: 0;
    flex-grow: 1;
    padding-bottom: 50px;
  }

  @include vp-767 {
    padding-left: 44px;
    padding-right: 44px;
  }

  h2 {
    @include max-w;

    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    @include vp-1199 {
      font-size: 12px;
      line-height: 150%;
      margin-top: 0;
    }
  }
}

.super-games__time-table {
  display: flex;
  justify-content: space-between;
  max-width: 344px;
  flex-wrap: wrap;

  @include max-w;
}

.super-games__like-logo {
  padding: 0 11px;
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 82px;
  line-height: 96%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  @include vp-1199 {
    font-size: 48px;
    line-height: 96%;
    padding: 0 7px;
  }
}

.super-games__date-time {
  margin-top: -5px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include vp-1199 {
    margin-top: -9px;
    gap: 0;
  }
}

.super-games__date {
  padding-right: 16px;

  @include vp-1199 {
    padding-right: 13px;
    padding-top: 5px;
  }
}

.super-games__date-time-title {
  font-size: 18px;
  line-height: 150%;

  @include vp-1199 {
    font-size: 12px;
    line-height: 150%;
  }
}

.super-games__date-grid {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: -1px;
  position: relative;
  align-self: start;

  & > time {
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;

    @include vp-1199 {
      font-size: 24px;
      line-height: 150%;
    }
  }

  @include vp-1199 {
    margin-top: -2px;
    gap: 5px;
  }

  &::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 84%;
    left: 0;
    top: 5px;
    background-color: $color-default-white;

    @include vp-1199 {
      top: 1px;
      width: 96%;
    }
  }
}

.super-games__month-year-grid {
  font-size: 14px;
  line-height: 150%;

  @include vp-1199 {
    font-size: 10px;
    line-height: 150%;
    margin-top: -4px;
  }
}

.super-games__year {
  margin-top: -4px;
}

.super-games__time {
  display: flex;
  flex-direction: column;

  & > time {
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    margin-top: -2px;
    position: relative;
    align-self: start;

    @include vp-1199 {
      font-size: 24px;
      line-height: 150%;
    }

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 95%;
      left: 0;
      top: 5px;
      background-color: $color-default-white;

      @include vp-1199 {
        top: 2px;
        width: 100%;
      }
    }
  }
}

.super-games__img {
  flex-shrink: 2;

  @include vp-1199 {
    flex-basis: 386px;
    flex-shrink: 1;
    flex-grow: 1;
  }

  @include vp-767 {
    flex-basis: unset;
    flex-shrink: unset;
    flex-grow: unset;
  }

  img {
    object-fit: cover;
    height: 100%;

    @include vp-767 {
      width: 100%;
    }
  }
}
